<header class="top-bar">
  <div class="brand">Track My Cash</div>
  <div class="month-nav" *ngIf="focusedMonth">
    <button
      class="icon-button"
      type="button"
      [disabled]="!canNavigatePrevious"
      aria-label="Mês anterior"
      (click)="navigatePrevious.emit()"
    >
      ‹
    </button>
    <span class="month-label">{{ focusedMonth.label }} {{ focusedMonth.year }}</span>
    <button
      class="icon-button"
      type="button"
      [disabled]="!canNavigateNext"
      aria-label="Próximo mês"
      (click)="navigateNext.emit()"
    >
      ›
    </button>
  </div>
  <button class="primary" type="button" (click)="openNewEntry.emit()">Novo lançamento</button>
</header>
